<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://10.36.5.100:8090/files/upload/ios/5eff2dfd01fcf674f1ec49c147d47014/ZAFUL_6.0.0_1.0_develop_20200425145049.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zaful.Zaful</string>
				<key>bundle-version</key>
				<string>6.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>ZAFUL</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>